---
import { ViewTransitions } from 'astro:transitions';
//テンプレート等
import 'src/styles/global.css';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
//画像
import pdfimg from 'static/pdf/sesj2023_RikiTakara_poster.pdf';


const pageTitle = 'about';
const langhome = "/";
const langabout = "/about";

const jafooter = '/about';
const engfooter = '/en/about';
const krfooter = '/kr/about';
---


<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
 		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>

    <body>
        <Header langhome = {langhome} langabout = {langabout}/>

        <main id="main" class=" mx-auto w-full max-w-5xl px-6 py-10">
			<iframe src={pdfimg} allow="fullscreen" width="100%" height="1380px"></iframe>
		</main>
        <Footer jafooter = {jafooter} krfooter = {krfooter} engfooter = {engfooter}/>
    </body>


</html>


<style>
    	/* main*/
	#main{
		/*width: 100%;
		padding: 100px 300px 100px 300px;*/
		font-family: 'Noto Sans JP', sans-serif;

	}

	.centences {
		color: #1e2022;
	}
	
	.abst {
		display: flex;
		align-items: center;
	}

	h1.intro{
	    font-weight: bold;
		font-size: 100px;
	}

	.my_img {
        border-radius: 10px;
	} 
    
    ul[class~="blog-contents"] {
        color: #888888;
	}

	span{
		color: #0B2856; /*BBCを参考にリンクの色を設定 */
	}

</style>