---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '@components/BlogPost.astro';

export async function getStaticPaths() { //ページのルートの配列を返す
    const allPosts = await Astro.glob('../posts/*.md') //全ファイルを取得
    
    const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())]
    //postから取得したtagの値を、Set関数で重複をなくし、flat()メソッドで結合したものを、空のインスタンスに入れて、宣言したuniqueTagsに渡す

    //return [
    //  { params: { tag: "報告" }, props: {posts: allPosts}},
    //  { params: { tag: "進路"}, props: {posts: allPosts}},
    //  { params: { tag: "大学院" }, props: {posts: allPosts} },
    //  { params: { tag: "ブログ" }, props: {posts: allPosts} },
    //];

    return uniqueTags.map((tag) => { //.mapは要素全てを呼び出す
      const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
      return {
        params: { tag },
        props: { posts: filteredPosts },
      };
    });

    //uniqueTagsのタグを使ってリストを自動的に生成
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <h2>のタグが付いた記事</h2>
  <ul>
    {posts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate}/>)}
  </ul>
</BaseLayout>