---
import BaseLayout from "@layouts/BaseLayout.astro";
const allPosts = await Astro.glob('../posts/*.md');
const tag = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())]
const pageTitle = "タグ一覧";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="tag">
        {tag.map((tag) => (
            <p class = "tag">
                <a href={`/tags/${tag}`} class = "no-underline hover:underline"> {tag} </a> 
            </p>
            ))
        }
    </div>
</BaseLayout>

<style>
    a {
     color: #0B2856;;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>