---
import { ViewTransitions } from "astro:transitions";
import 'src/styles/global.css'

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import headimg from 'static/head_img.png';

const pageTitle = 'about';
const langhome = '/kr';
const langabout = '/kr/about';

const jafooter = '/about';
const engfooter = '/en/about';
const krfooter = '/kr/about';
---


<html lang="kr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
 		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>

    <body>
        <Header langhome = {langhome} langabout = {langabout} />  <!---- propsを使ってHomeにルーティング -->

        <main id="main" class=" mx-auto w-full max-w-5xl px-6 py-10">
			<div class="abst flex justify-normal">
				<img src={headimg.src} width="400" height="400" alt="man" class="my_img">
				<div class="sentences  flex flex-col space-y-6 pl-20">
					<div class="flex flex-row items-end">
						<p>이름:</p> 
						<h1 class="font-bold text-4xl pl-2">타카라 리키 (髙良力樹)</h1>
					</div>
					<div class="flex flex-row items-end">
						<p>소직:</p> 
						<p class="affiliation text-2xl pl-2">
							<a href={'https://www.bs.s.u-tokyo.ac.jp/english/'} target="_blank" rel="noopener noreferrer" class = "no-underline hover:underline">
								도교대학 대학원 이학연구과 생물과학전공
							</a>
						</p>
					</div>
					<div class="flex flex-row items-end">
						<p>Email:</p>
						<p class="mail text-lg pl-2">
							rtakara@g.ecc.u-tokyo.ac.jp
						</p>
					</div>
				</div>
			</div>

            <!----<div class=""> --> 
            <p class = "text-3xl pt-7 pb-3"> 경력 </p>
            <dl class = "text-lg">
				<dt>2024.04 - </dt>
				<dd>
					<a href={'https://www.bs.s.u-tokyo.ac.jp/english/'} target="_blank" rel="noopener noreferrer" class = "no-underline hover:underline">
						<span>도교대학 대학원 이학연구과 생물과학전공</span>
					</a>
				</dd>

				<div class = "pt-2">
    				<dt>2020.04 - 2024.03</dt>
					<dd>
						<a href={'http://www.biology.tohoku.ac.jp/english/'} target="_blank" rel="noopener noreferrer" class = "no-underline hover:underline">
							<span>도호쿠대학 이학부 생물학과</span>
						</a>
					</dd>
				</div>

                <div class = "pt-2">
                    <dt>2015.04 - 2020.03</dt>
                    <dd>
						<a href={'https://en.okinawa-ct.ac.jp/'} target="_blank" rel="noopener noreferrer" class = "no-underline hover:underline">
							<span>오키나와 공업고등 전문 학교 생물 자원 공업과</span>
						</a>
					</dd>
                </div>

            </dl>

            <p class="text-3xl pt-7 pb-3">발표</p>

            <p><strong>포스터</strong></p>
            <ul class="list-disc pl-6 text-lg">
                <li>
                    타카라 리키・타무라 고우헤이・뱃셔-우에하라 카나코 <br>
					「이미지 분석과 역학 분석으로 虫こぶ(plant gall) 형태다양상을 결정하는 식물 측의 요인 탐색」 <br>
                     <a href={'https://w3.u-ryukyu.ac.jp/anthropology/shinka2023/'} target="_blank" rel="noopener noreferrer">
						<span>일본진화 학회 재25회 대회</span>
					</a>
                    (2023.8-9) 오키나와
                </li>
            </ul>

            <h2 class = "text-3xl pt-7 pb-3"> 소직하는 학회 </h2>

            <ol class="list-disc pl-6 text-lg">
                <li>
					<a href={'http://sesj.kenkyuukai.jp/special/?id=26540'} target="_blank" rel="noopener noreferrer" class = "no-underline hover:underline">
						<span>일본진화 학회</span>
					</a>
				</li>
            </ol>
            
		</main>
        <Footer jafooter = {jafooter} krfooter = {krfooter} engfooter = {engfooter} />
    </body>


</html>


<style>
    	/* main*/
	#main{
		/*width: 100%;
		padding: 100px 300px 100px 300px;*/
		font-family: 'Noto Sans JP', sans-serif;

	}

	.centences {
		color: #1e2022;
	}
	
	.abst {
		display: flex;
		align-items: center;
	}

	h1.intro{
	    font-weight: bold;
		font-size: 100px;
	}

	.my_img {
        border-radius: 10px;
	} 
    
    ul[class~="blog-contents"] {
        color: #888888;
	}

	span{
		color: #0B2856;
	}

</style>