---
import BaseLayout from 'src/layouts/BaseLayout.astro'

const pageTitle = "スライド置き場";

---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li>
        <a href = "https://kaprekar2.gitlab.io/slides/jinrui_book#1">
            ・輪読会資料候補
        </a>
    </li>
  </ul>
</BaseLayout>