---
import BaseLayout from 'src/layouts/BaseLayout.astro'
import BlogPost from 'src/components/BlogPost.astro';
// const allPosts = await Astro.glob('/src/pages/posts/*.md');
const pageTitle = "一覧";
const allPosts = await Astro.glob('./reading-circle/*.md');
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
---

<BaseLayout pageTitle={pageTitle}>
    <ul>
      <!----<li><a href="/posts/post1/">Post 1</a></li>
      <li><a href="/posts/post2/">Post 2</a></li>
      <li><a href="/posts/post3/">Post 3</a></li> --->
  
      <!----{allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}---->
  
      {nonDraftPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate}/>)}
      
  
    </ul>
  </BaseLayout>